<h1><%= "#{@student.name}さんの成績入力フォーム" %></h1>
<%= form_for(:record, url: "/users/new_record/#{@student.id}", html: {method: "post"})  do |f| %>
  <table>
    <thead>
      <tr>
        <th>年度</th>
        <th>学期</th>
        <th>国語</th>
        <th>数学</th>
        <th>英語</th>
        <th>理科</th>
        <th>社会</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td><%= f.select :year, (Time.zone.now.year - 10)..(Time.zone.now.year), {include_blank: '選択して下さい'} %></td>
        <td><%= f.select :semester, [ '1', '2', '3' ], { include_blank: '選択して下さい' } %></td>
        <td><%= f.number_field :jpn, min: 0, max: 100 %></td>
        <td><%= f.number_field :math, min: 0, max: 100  %></td>
        <td><%= f.number_field :eng, min: 0, max: 100  %></td>
        <td><%= f.number_field :sci, min: 0, max: 100  %></td>
        <td><%= f.number_field :soc, min: 0, max: 100  %></td>
        <%= f.hidden_field :student_id, value: @student.student_id %>
      </tr>
      <%= f.submit '保存' %>
    </tbody>
  </table>
<% end %>
